.slidecontainer {
    width: 100%; /* Width of the outside container */
  }

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
}